
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

.sobre-main{
     justify-content: center;
     align-items: center;
     width: 50%;
     margin: 0 auto;
}



.container{
    width: 100%;
   
    justify-content: center;
    align-items: center;
    
}

#main-receitas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 2em;
    width: 18rem;
}
.card-img-top{
    object-fit: cover;
    height: 15em;
}

.main-carousel-item-img {
    height: 30em;
    object-fit: cover;
    object-position: 0 80%;
 }


 
 .sobre-carousel-item-img{
    height: 30em;
    object-fit: cover;
 }

 #sobre-carousel{
    width: 100%;
    justify-content: center;
 }

.carousel-caption h2{
    font-size: 2em;
}


.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1em;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  h2, h4{
    text-align: center;
  }