*{
    margin: 0%;
    padding: 0%;
}



body{
    width: 100%;
}
main{
    padding: 1em;
}
.container{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    
}


.sectionSuperior {
    display: flex;
    width: 100%;
    gap: 1em;
    padding-bottom: 5em;
}


.sectionInferior {
    display: flex;
    width: 100%;
    gap: 1em;
    padding-bottom: 3em;
}

.sectionSuperior img{
    object-fit: cover;
    width: 36.7em;
    height: 30em;
}

.sectionInferior img{
    object-fit: cover;
    width: 36.7em;
    height: 30em;
}
