* {
    margin: 0;
    
}

body {
    width: 100%;
}

main {
    background-color: rgb(245, 245, 245);   
    
    
}



.navbar {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacenav {
    background-color: #19467e;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spacenav h6 {
    color: aliceblue;
}

.carousel{
    justify-content: center;
    align-items: center;
    display: flex;
}

.carrosel {
    width: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blococarousel{
    display: flex;
    align-items: center;
    justify-content: center;
}


.blocomarcas{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 4em;
    background-color: #19467e;
 
}

.blocomarcas h4{

    color: aliceblue;
    
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 60%;
}


.btnCadastrar{
    margin-left: 2em;
}


.blocoFiltros{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3em;
    
 
}

.filtros{
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60%;
}

.formulario{
    width: 100%;
    display:flex;
}

.form-group{
    padding: 1em;
}