*{
    margin: 0%;
}


.navbar{
    padding-top: em;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid a{
    display: flex;
    align-items: center;
    justify-content: center;

}


.spacenav{
    background-color: #19467e;
    justify-content: center;
    align-items: center;
    display: flex;
}


.spacenav h6{
    color: aliceblue;
}