@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




*{
   margin: 0%;
   padding: 0%;
}

.body{
    background-color: rgb(31, 31, 31);
}

.container-fluid h1{
    color: aliceblue;
  }


.searchInput{
    width: 3rem;
}




.divImages {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .7em;
    
}

.img, .jhon {
    display: inline-block;
    width: 20%;
    position: relative;
}

    .img img, .jhon img{
        width: 100%;
        height: 100%;
    }

.img figcaption, .jhon figcaption{
    color: aliceblue;
    position: absolute;
}

.img:nth-child(1) figcaption{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-transform: uppercase;
    top: 9em;
    left: 2em;
}

.jhon{
    width: 14.25%;
}

.divImages2 {
    margin-top: 3em;
    margin-bottom: 2em;
}



.inter ,.fontInter {
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }


  


@media{

}