@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Just+Another+Hand&family=Just+Me+Again+Down+Here&display=swap');



* {
    margin: 0%;
    padding: 0%;
}

.body {
    background-color: rgb(31, 31, 31);
}

.container-fluid h1 {
    color: aliceblue;
}


.d-flex{
    
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.d-flex input{
    background-color: #121212;
    position: absolute;
    border-radius: 30em;
    left: -5em;
    width: 80%;
}

.d-flex input::placeholder{
    color: rgba(240, 248, 255, 0.603);
}

.d-flex button{
    border-radius: 5em;
    border: 1px solid rgba(255, 255, 255, 0);
    
}

.d-flex button:hover{
    background-color: #ffffff00;
    border: 1px solid rgba(255, 255, 255, 0);
}

.d-flex button img{
    width: 3%;
    position: absolute;

    top: -.6em;
}



.btn:nth-child(2) img{
    left: 62em;
}

.btn:nth-child(3) img{
    left: 65em;
}

.btn:nth-child(4) img{
    left: 68em;
}

.btn:nth-child(5) img{
    left: 72em;
}


.divImages {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .7em;

}

.img,
.jhon {
    display: inline-block;
    width: 20%;
    position: relative;
    top: 3em;
    
}

.img img,
.jhon img {
    width: 100%;
    height: 100%;
}

.img figcaption,
.jhon figcaption,
.imgGradient img {
    color: aliceblue;
    position: absolute;
}

.img:nth-child(1) figcaption {
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    text-transform: uppercase;
    top: 9em;
    left: 2em;
}

.img:nth-child(2) figcaption {
    font-family: "Just Another Hand", cursive;
    font-size: 7em;
    font-weight: 400;
    font-style: normal;
    top: 1.4em;
    left: .45em;
}

.img:nth-child(3) figcaption {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 7em;
    font-weight: 400;
    font-style: normal;
    top: 1.2em;
    left: .3em;

}

.img:nth-child(4) figcaption{
    font-family: "Julius Sans One", sans-serif;
    font-size: 6em;
    font-weight: 400;
    font-style: normal;
    top: 1.5em;
    left: .15em;
}

.jhon figcaption{
    font-family: "Julius Sans One", sans-serif;
    font-size: 5em;
    font-weight: 400;
    font-style: normal;
    top: 2em;
    left: .8em;
}
.jhon {
    width: 14.25%;
}







.divImages2 {
    margin-top: 3em;
    margin-bottom: 5em;
}

.imgGradient img{
    left: 87.9em;
    top: 7.5em;
    width: 20%;
}

.inter,
.fontInter {
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.just-another hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.just-me again down here-regular {
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
}

.julius-sans one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}