* {
    padding: 0%;
    margin: 0;
}

.logo img {
    width: 15em;
    margin-top: -2em;
}

body {
    padding: 1em;

}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    padding: 1em;
    font-size: larger;
    font-weight: 500;
    color: rgb(252, 252, 252);
    background: green;

}

.menu a:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(53, 133, 0);
    transition-duration: 500ms;
    transition-delay: 50ms;
}

header {
    display: flex;
    justify-content: space-between;
}

/*Configuração responsiva*/

@media(max-width:600px) {

    header,
    .menu li {
        display: block;
    }
    
    .content-1{
        display: inline-block;
    }

}

.banner img {
    width: 100%;
}

.content-1{
    display: flex;
    justify-content: space-between;
}
    .content-1 figure{
        padding: 1em;
    }
    .content-1 img{
        width: 50%;
    }
    
    .content-1 legend{
        text-align: justify;
        margin-top: .2em;
    }